<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.databasetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.dell.provider"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>
<!--
<provider>标签用来对DatabaseProvider这个内容器进行注册
android:name属性指定了DatabaseProvider的类名
android:authorities属性指定了DatabaseProvider的authority
而enabled和exported属性则是根据勾选的状态自动生成的
这里表示DatabaseProvider被其他应用程序访问
-->